{
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "mocha": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true
      },
      "sourceType": "module"
    },
    "plugins": [
      "react"
    ],
    "parser": "babel-eslint",
    "rules": {
      "no-console":"warn",
      "no-debugger":"off",
      "react/display-name" : "warn",
      "no-extra-boolean-cast": "warn",
      "indent": [
        "error",
        2,
        {
          "SwitchCase": 1
        }
      ],
      "quotes": [
        "warn",
        "single"
      ],
      "semi": [
        "error",
        "always"
      ],
      "object-curly-spacing": [
        "error",
        "always"
      ],
      "no-constant-condition" : "warn"
    }
  }
  